.app {
    display: flex;
    flex-direction: column;
    &-content-elements {
        display: flex;
        app-message-list {
            width: 35%;
        }
        app-message-information {
            width: 70%;
            padding: 2%;
        }
    }

    @media screen and (max-width: 680px) {
        &-content-elements {
            margin-left: 2%;
            app-message-list {
                width: 98%;
            }
            app-message-information {
                display: none;
            }
        }
    }
    @media screen and (min-width: 681px) and (max-width: 1279px) {

    }
}