<div class="messageInfo">
    <div class="messageInfo-header">
        <div class="messageInfo-header-left">
        <p>Test</p>
        <p>jsjaskjaksjaskaj</p>
        <p>kdskldlkfjafdmfnewfnfnwnef ejkrbjkfJSKBFJABSJK</p>
        </div>
        <div class="messageInfo-header-right">
        <p>jsjaskjaksjaskaj</p>
        <p>kdskldlkfjafdmfnewfnfnwnef ejkrbjkfJSKBFJABSJK</p>
        </div>
    </div>
    <div class="messageInfo-content">
        <p>Test</p>
        <p>jsjaskjaksjaskaj</p>
        <p>kdskldlkfjafdmfnewfnfnwnef ejkrbjkfJSKBFJABSJK</p>
    </div>
</div>