
.messageList {
    margin-left: 6%;
    border: 1px solid green;
    &-item {
        display: flex;
        justify-content: space-between;
        mat-icon {
            margin-top: 5%;
        }
        &-texts {
            display: flex;
            flex-direction: column;
        }
    }
}