
.messageList {
    margin-left: 6%;
    border: 1px solid green;
    &-item {
        display: flex;
        justify-content: space-between;
        mat-icon {
            margin-top: 6%;
        }
        &-texts {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 680px) {
        margin-left: 2%;
    }
    @media screen and (min-width: 681px) and (max-width: 1279px) {

    }
}